/* layout */
body{
    margin : 0 auto;
    padding : 0;
    box-sizing: border-box;
    background-color: rgb(46, 204, 113);
}

.contents{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 90vh;
    background-color: rgb(33, 33, 33);
    display: flex;
}

.cam{
    display: flex;
    margin: auto 0 auto auto;
    width: 41vw;
    height: 80vh;
    background-color: #fff;
    flex-direction: column;
}
.recog{
    margin: 4vh 0;
    font-size: 26px;
    font-weight: bold;
}
.camera{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #000;
}
.countdown{
    margin:4vh 0;
    font-size: 26px;
    font-weight: bold;
}

.display{
    margin: 0 3vw;
}

.temperature{
    display: flex;
    margin: 5vh auto;
    width: 40vw;
    height: 45vh;
    background-color: #fff;
}
.temcam{
    margin: auto 2vh auto auto;
    width: 300px;
    height: 300px;
    background-color: #000;
}
.temchart{
    margin: auto;
    width: 50px;
    height: 300px;
    background-color: #000;
}

.controller{
    width: 40vw;
    height: 30vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.id{
    margin: 2vh 5vw;
    width: 30vw;
    height: 7vh;
    background-color: rgb(243, 156, 18);
}
.description{
    margin: 2vh 5vw;
    width: 30vw;
    height: 7vh;
}
.controller button{
    margin: 2vh 5vw;
    width: 30vw;
    height: 7vh;
    background-color: rgb(158, 158, 158);
    color: #fff;
    font-size: 16px;
    border-style: none;
}
.controller button:hover{
    cursor: pointer;
}