.modal {
    font-size: 1.2rem;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
.button {
    background-color : rgb(52, 152, 219);
    height: 7vh;
    width: 20vw;
    border-radius: 10px;
    font-size: 0.9rem;
    color : #fff;
    border-style: none;
}

#fail{
  margin-left : 1vw;
  background-color: rgb(33, 33, 33);
}